# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lexxi\OneDrive - Florida Gulf Coast University\Desktop\FGCU Work\Fall 2020\Object Oriented Programming\Production\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
